<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar
      fxLayout="row"
      class="toolbar"
      fxLayoutAlign="space-between center">
      <div>
        <a class="logo" routerLink="/">Photo Gallery</a>
      </div>
      <nav *appHasRoles="['user', 'admin'] else anonMenu">
        <strong style="margin-right: 20px; font-size: 15px; cursor: pointer; color: #fff;" routerLink="/">Hello, {{ (user | async)?.displayName }}</strong>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon *ngIf="!(user | async)?.avatar">account_circle</mat-icon>
          <img mat-card-sm-image class="avatar_img" *ngIf="(user | async)?.avatar"
               [src]="[avatars + (user | async)?.avatar]" [alt]="(user | async)?.displayName">
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>{{ (user | async)?.email }}</button>
          <button mat-menu-item routerLink="new-photo/">Add Photo</button>
          <button mat-menu-item [routerLink]="['users-personal-photos']" [queryParams]="{user: (user | async)?._id}">My
            Photos
          </button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </nav>
    </mat-toolbar>
    <div class="content container">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #anonMenu>
  <nav style="color: #fff;">
    <a mat-button routerLink="/register">REGISTER</a>
    <a mat-button routerLink="/login">SIGN IN</a>
  </nav>
</ng-template>




